body{
	background-color: #cbc9c9;
	margin: 0px;
	/*font-size: medium;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	border-left: 40px solid black;
	border-right: 40px solid black;

}
#header{
	background-color: black;
	color: white;
	/*/text-align: left;*/
	margin: 0px;
	height: 75px;
}
#header img{
	float: left;
}
#header nav{
	float: right;
}

#footer{
	background-color: black;
	text-align: center;
	color: white;
	margin: 0px 20px 0px 20px;
	height: 50px;
}

.content{
	margin:30px 430px 20px 30px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
}
.sidebar{
    margin:30px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	float: right;
	width: 370px;
}
/*{
	margin:30px;
	border: 1px solid black;
	background-color: white;
}
*/

.picture{
  border:1px solid black;
  width: 230px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}
article p{
	text-indent: 2em;
}
tr,th,td{
 text-align: left;
}

table{
	margin:0px 20px 20px 20px;
	border-collapse:collapse;
}
table th{
	background-color: black;
	color: white;
}
#sum{
	background-color: gray;
}

form {
	display: table;
	padding: 10px;
}
div.tableRow{
	display: table-row;
}
div.tableRow p{
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
}

.submit{
	background-color: blue;
	width: 90%;
	height: 40px;
	display: inline-block;
	color: white;
	border-radius:10px;
	margin: 20px 20px 20px 20px;
}
div.sub{
	text-align: center;
}
form{
	margin: 0px auto;
}




li a{
	color: white;
	text-decoration: none;

}


